body {
	background-color: black;
	color:#d3d4d4;
	padding:10px;
}

.page .title {
	font-size: 40px;
	text-align: center;
	padding:20px;
}

.build, .loading, .iframe{
	float:left;
	margin:10px;
	clear:both;
	padding:10px;
	background-color: rgba(255, 255, 255, 0.15);
	border-radius: 5px;
}

.group .build, .group .loading {
	padding:10px;
	background:none;
}

.build .info {
	font-size: 36px;
	text-align: left;
	line-height: 1.2;
	min-width:250px;
}

.build .info .name {
	font-size: 16px;
	height:20px;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.build .indicator {
	padding:0;
	width:65px;
	height:65px;
	border-radius: 5px;
	margin-right:10px;
	float:left;
}

.success .indicator {
	background-color:rgb(88, 196, 0);
}

.success .info {
	color:rgb(88, 196, 0);
}

.fail .indicator {
	background-color:#bc391f;
}

.fail .info {
	color:#bc391f;
}

.group {
	float:left;
	padding:20px;
	background-color: rgba(255, 255, 255, 0.15);
	border-radius: 5px;
	margin:5px;
}

.group > .name {
	color:#d3d4d4;
	font-size:36px;
}

iframe {
	border:1px solid black;
	margin:10px;
}