body {
	background-color: black;
	color:#d3d4d4;
}

.page .title {
	font-size: 40px;
	text-align: center;
	padding:20px;
}

.build {
	margin:10px 0;
	width:300px;
	clear:both;
}

.build .info {
	font-size: 36px;
	text-align: left;
	line-height: 1.2;
}

.build .info .name {
	font-size: 16px;
	height:20px;
	overflow: hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}

.build .indicator {
	padding:0;
	width:65px;
	height:65px;
	border-radius: 5px;
	margin-right:10px;
	float:left;
}

.success .indicator {
	background-color:rgb(88, 196, 0);
}

.success .info {
	color:rgb(88, 196, 0);
}

.fail .indicator {
	background-color:#bc391f;
}

.fail .info {
	color:#bc391f;
}



/*
 .group {
 	float:left;
 	padding:20px;
	background-color: rgba(255, 255, 255, 0.15);
 	border-radius: 5px;
 	margin:5px;
 }


.group_name {
	color:#d3d4d4;
	font-size:36px;
}

.builds td {
	padding:5px;
	color:#707275;
	text-align:right;
}

.bar {
	padding:0;
	width:65px;
	height:65px;
	border-radius: 5px;
}

.fail .bar {
	background-color::rgb(88, 196, 0);
}

.fail .info {
	color::rgb(88, 196, 0);
}

.success .bar {
	background-color:#7cbc01;
}

.success .info {
	color:#7cbc01;
}

.info {
	font-size: 36px;
}

.build_name {
	font-size: 16px;
	text-align: left;
}

*/