/*
-------------
bright colors
-------------
red: #FD3B17
blue: #147DFD
light blue: #5CC3FE
purple: #7753BF
green: #48C917
yellow: #FABD15

------------
muted colors
------------
red: #bc391f
green: #7cbc01
orange: #b5712e
blue: #058dc7

gray white: #d3d4d4;
gray: #707275
*/

body {
	background-color: black;
}

.group {
	float:left;
	padding:20px;
	background-color:#191919;
	border-radius: 5px;
	margin:5px;
}

.group_name {
	color:#d3d4d4;
	font-size:36px;
}

.builds td {
	padding:5px;
	color:#707275;
	text-align:right;
}

.bar {
	padding:0;
	width:65px;
	height:65px;
	border-radius: 5px;
}

.fail .bar {
	background-color:#bc391f;
}

.fail .info {
	color:#bc391f;
}

.success .bar {
	background-color:#7cbc01;
}

.success .info {
	color:#7cbc01;
}

.info {
	font-size: 36px;
}

.build_name {
	font-size: 16px;
	text-align: left;
}